.App {
  /* background-color: aquamarine; */
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 428px;
  height: 926px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .container > div {
  border: 1px solid black;
} */

.box1 {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.box1 > .logo {
  height: 80%;
  width: 70%;
  background: transparent url("./logo.svg") 0% 0% no-repeat padding-box;
  background-position: center;
  opacity: 1;
  /* border: 1px solid saddlebrown; */
}

.box2 {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 > .textbox {
  /* background-color: aqua; */
  width: 70%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font: normal normal normal 14px/18px Roboto;
  letter-spacing: 0px;
  color: #1a1a1a;
  opacity: 1;
}

.box3 {
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box3 > .componentbar {
  width: 90%;
  height: 10%;
  /* border: 1px solid salmon; */
  display: flex;
  align-items: center;
}
.box3 > .componentbar > .btn {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid firebrick; */
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
}

.active {
  font: normal normal bold 16px/17px Roboto;
  letter-spacing: 0px;
  color: #1d2226;
  opacity: 1;
  text-decoration: none;
  border-bottom: 3px solid #e70b89;
}
.unactive {
  font: normal normal normal 16px/17px Roboto;
  letter-spacing: 0px;
  color: #1d2226;
  opacity: 1;
  text-decoration: none;
}

.component {
  /* background-color: #e70b89; */
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formpage {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(48, 163, 19); */
  /* background-color: aqua; */
}
.form1 {
  height: 70%;
  /* border: 1px solid darkblue; */
  width: 100%;
  /* background-color: brown; */
}
.form2 {
  height: 30%;
  width: 100%;
  /* border: 1px solid saddlebrown; */
  /* background-color: cadetblue; */
}
form {
  /* background-color: #6ee70b; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
form > .inputbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: chartreuse; */
  height: 60%;
}

form > .inputbox > input {
  height: 50px;
  width: 80%;
  /* UI Properties */
  background: #ffffff4d 0% 0% no-repeat padding-box;
  border: 1px solid #1a1a1a;
  border-radius: 26px;
  opacity: 1;
  padding-left: 25px;
  outline: none;
}

form > .btnbox {
  /* background-color: aquamarine; */
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > .btnbox > button {
  width: 90%;
  background: #e70b89 0% 0% no-repeat padding-box;
  border-radius: 26px;
  opacity: 1;
  height: 50px;
  border: none;
  text-align: center;
  font: normal normal bold 16px/17px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
}

form > .btnbox > p {
  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #e70b89;
  opacity: 1;
  /* border: 1px solid black; */
  align-self: flex-end;
  cursor: pointer;
}

.createaccount {
  /* background-color: rgba(226, 137, 43, 0.37); */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
/* 
.createaccount > div {
  border: 1px solid saddlebrown;
} */

.createaccount > .imgbox {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imgbox > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  background-color:rgb(224, 228, 233);
  clip-path: circle();
  cursor: pointer;
}

.imgbox > div > img {
  width: 30%;
  height: 70%;
}

.imgbox > div:hover {
  background-color: rgba(144, 139, 139, 0.462);
}
